body {
    padding: 10px;
    font-family: 'Poppins';
}

.container {
    margin-bottom: 10px;
}

input {
    font-family: "Poppins";
}

.strike {
    text-decoration: line-through;
}

span {
    padding: 10px;
}

button {
    margin: 5px;
    font-family: 'Poppins';
}